[submodule "src/Config/json"]
	path = src/Config/json
	url = https://github.com/nlohmann/json.git
[submodule "src/MQTT/mosquitto"]
	path = src/MQTT/mosquitto
	url = https://github.com/EdWard680/mosquitto.git

